.Home__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: rows;
  gap: 80px;
  transition: all 0.5s ease-in-out;
}

.Add__cont {
  margin-top: 0.1%;
  margin-left: 5%;
}

.Home {
  padding: 0 18.4% 0;
}

.Img__cont {
  display: flex;
  flex-direction: rows;
  justify-content: center;
  align-items: center;
  gap: 6.5%;
  margin-left: -5%;
}

.Img__cont  button{
display:none;
}

.tImg img {
  overflow: none;
  border-radius: 20px;
  transition: 0.5s ease;
  width: 100px;
  height: 100px;
  border: 4px solid transparent;
}

.tImg img:hover {
  border: 4px solid orange;
  background: rgba(240, 238, 238, 0.717);
}

.tImg img:focus {
  border: 4px solid orange;
  background: rgba(240, 238, 238, 0.717);
}

.fImg {
  border-radius: 20px;
}

.FullImage {
  margin-bottom: 6%;
  margin-left: -5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 1500px) {
  .Home__cont {
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
  }
  .Home{
    padding: 5;
  }
  .FullImage{
display: none;
  }
.tImg.active{
display:flex;
justify-content: center;
align-items: center;
position:relative;
padding:  5% 0 0 5% ;
}



.Img__cont.active {
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-direction: row;
  align-content: center;
  padding:0;
  margin:0;
  position: relative;
  margin-left: -15%;
}

.Img__cont.active .Next{
  display: flex;
 margin-left: 15px;
 padding: 0;
 margin: 0;
 
 z-index: 2;
 }

.Img__cont.active .Previous{
 display: flex;
margin-right: 15%;
padding: 0;
margin: 0;

z-index: 2;
}

}
