.Home__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: rows;
  gap: 80px;
}

.Add__cont {
  margin-top: 0.1%;
  margin-left: 5%;
}

.Home {
  padding: 0 18.4% 0;
}

.Img__cont {
  display: flex;
  flex-direction: rows;
  justify-content: center;
  align-items: center;
  gap: 6.5%;
  margin-left: -5%;
}

.tImg img {
  overflow: none;
  border-radius: 20px;
  transition: 0.5s ease;
  width: 100px;
  height: 100px;
  border: 4px solid transparent;
}

.tImg img:hover {
  border: 4px solid orange;
  background: rgba(240, 238, 238, 0.717);
}

.tImg img:focus {
  border: 4px solid orange;
  background: rgba(240, 238, 238, 0.717);
}

.fImg {
  border-radius: 20px;
}

.FullImage {
  margin-bottom: 6%;
  margin-left: -5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 1450px) {
  .Home__cont {
    display: flex;
    flex-direction: column;
  }
  .Home{
    padding: 5;
  }
}
